body{
  background-color: yellow;
}

.container{
  background-image: url("../img/krusty-krab.jpeg");
  background-repeat: no-repeat;
  color: black;
  background-size: 100%;
}
img{
  width: 25%;
  margin-left: 450px;
}

#receipt{
  float: right;
}
form {
  display: inline-block;
}
