@font-face {
  font-family: krustyKrab;
  src: url('/Users/davidrolfs/desktop/code-review-week-4/krabby_patty/Krabby Patty.ttf');
  font-weight:400;
}

body{
  background-color: yellow;
  font-family: krustyKrab;
}

.container{
  background-image: url("../img/krusty-krab.jpeg");
  background-repeat: no-repeat;
  color: black;
  background-size: 100%;
}
img{
  width: 25%;
  margin-left: 450px;
}

#receipt{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
form {
  display: inline-block;
}

h2{
  text-align: center;

}
